<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>9120533081969677</sid>
    <event-sheet>Menu Event sheet</event-sheet>
    <size>
        <width>1000</width>
        <height>540</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Back" sid="4768609209501599">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="chiliCBack" uid="87">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-551</x>
                        <y>-16</y>
                        <z>0</z>
                        <width>2071</width>
                        <height>727</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>526</x>
                        <y>311</y>
                        <z>0</z>
                        <width>137</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.503649652</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite3" uid="10">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>165</x>
                        <y>183</y>
                        <z>0</z>
                        <width>464.113677979</width>
                        <height>309.409118652</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="tentang" uid="196">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>955</x>
                        <y>502</y>
                        <z>0</z>
                        <width>42.497058868</width>
                        <height>42.497058868</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Front" sid="8584630772477789">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Monster" uid="44">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Zombie3</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <kind>1</kind>
                        <direction>1</direction>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-123</x>
                        <y>365</y>
                        <z>0</z>
                        <width>133.565216064</width>
                        <height>98.823532104</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.502857149</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Monster" uid="45">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Zombie8</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <kind>1</kind>
                        <direction>1</direction>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-43</x>
                        <y>494</y>
                        <z>0</z>
                        <width>42.782608032</width>
                        <height>54.211769104</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Monster" uid="46">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Zombie2</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <kind>1</kind>
                        <direction>1</direction>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-429</x>
                        <y>396</y>
                        <z>0</z>
                        <width>133.565216064</width>
                        <height>98.823532104</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.502857149</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Monster" uid="47">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Zombie7</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <kind>1</kind>
                        <direction>1</direction>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>220</x>
                        <y>396</y>
                        <z>0</z>
                        <width>42.782608032</width>
                        <height>54.211769104</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Monster" uid="48">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <kind>1</kind>
                        <direction>1</direction>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>684</x>
                        <y>480</y>
                        <z>0</z>
                        <width>62.608695984</width>
                        <height>67.764709473</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Monster" uid="49">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Zombie4</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <kind>1</kind>
                        <direction>1</direction>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>850</x>
                        <y>379</y>
                        <z>0</z>
                        <width>42.782608032</width>
                        <height>54.211769104</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite7" uid="102">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>260.051513672</x>
                        <y>502.469604492</y>
                        <z>0</z>
                        <width>516.911132813</width>
                        <height>61.060787201</height>
                        <depth>0</depth>
                        <hotspotX>0.503703713</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Restart" uid="100">
                    <properties>
                        <text>PLAY</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Moon,-37,700,0</font>
                        <color>51,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>118</x>
                        <y>219</y>
                        <z>0</z>
                        <width>817.247131348</width>
                        <height>171.445068359</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer 0" sid="3350081414136635">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Instructions1" uid="11">
                    <properties>
                        <text>Gunakan Tombol arah untuk berjalan dan Spasi untuk menyerang </text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Segoe UI,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>22</x>
                        <y>481</y>
                        <z>0</z>
                        <width>467</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Instructions1" uid="12">
                    <properties>
                        <text></text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Segoe UI,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>271</x>
                        <y>450</y>
                        <z>0</z>
                        <width>439</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Instructions1" uid="13">
                    <properties>
                        <text>Pause :                 Tombol P atau pause untuk Berhenti</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Segoe UI,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>20</x>
                        <y>503</y>
                        <z>0</z>
                        <width>407</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Title" uid="7">
                    <properties>
                        <text>The Legend of KingKong</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>MJ Scriptonite Demo,-64,700,1</font>
                        <color>51,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>350</x>
                        <y>56</y>
                        <z>0</z>
                        <width>588</width>
                        <height>210</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
